VITE_GEMINI_API_KEY=여기에_제미나이_API_키를_입력하세요

# EmailJS 알림 설정 (선택 - emailjs.com 에서 무료 계정 생성 후 발급)
# 템플릿 변수: {{to_email}}, {{nickname}}, {{book_title}}, {{book_author}}, {{genre}}
VITE_EMAILJS_SERVICE_ID=여기에_EmailJS_서비스ID_입력
VITE_EMAILJS_TEMPLATE_ID=여기에_EmailJS_템플릿ID_입력
VITE_EMAILJS_PUBLIC_KEY=여기에_EmailJS_공개키_입력